@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yeni Category girisi</h1>
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategory Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
   
    <br />
    @Html.Label("Kategori Acıklaması")
    @Html.TextAreaFor(x => x.CategoryDescription, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <button class="btn btn-info">Kategori Kaydet</button>
}